body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #f5cc71;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  background-repeat: repeat-y;
  background-size: auto;
  max-width: 1360px; }
  body header {
    width: 95%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%; }
    body header nav {
      width: 95%;
      display: flex;
      justify-content: center; }
      body header nav .menu {
        display: flex;
        width: 95%;
        justify-content: space-between; }
        body header nav .menu .logo1 {
          margin-top: auto;
          margin-bottom: auto;
          height: auto;
          width: 100px;
          height: 70%;
          margin-left: 3%;
          display: flex;
          justify-content: center; }
          body header nav .menu .logo1 a {
            text-decoration: none;
            text-align: center;
            margin-top: auto;
            margin-bottom: auto; }
          body header nav .menu .logo1 span {
            font-family: Helvetica;
            transition: ease 0.5s;
            width: 90%;
            height: 90%;
            font-size: xx-large;
            color: #ffffff; }
        body header nav .menu .logo1:hover span {
          width: 100%;
          height: 100%;
          font-weight: bolder; }
        body header nav .menu .liste_ul {
          width: 60%;
          display: flex; }
          body header nav .menu .liste_ul .liste_li {
            list-style-type: none;
            display: inline-flex;
            width: 25%;
            justify-content: center; }
            body header nav .menu .liste_ul .liste_li a {
              text-decoration: none;
              color: #ffffff;
              width: 100%;
              height: auto;
              display: flex;
              font-family: Helvetica;
              word-spacing: 10px;
              letter-spacing: 3px;
              font-size: 20px;
              padding: 5px;
              margin-top: auto;
              margin-bottom: auto;
              justify-content: center;
              font-weight: bold; }
            body header nav .menu .liste_ul .liste_li a:hover {
              animation-name: ahover;
              animation-fill-mode: both;
              animation-duration: 0.2s; }
@keyframes ahover {
  0% {
    width: 0%;
    border-bottom: 2px solid white; }
  25% {
    width: 25%;
    border-bottom: 2px solid white; }
  50% {
    width: 50%;
    border-bottom: 2px solid white; }
  75% {
    width: 75%;
    border-bottom: 2px solid white; }
  100% {
    width: 100%;
    border-bottom: 2px solid white; } }
  body .main .slide {
    display: flex;
    justify-content: center; }
    body .main .slide .slide_item {
      width: 80%;
      opacity: 0.8; }
  body .main .box {
    display: flex;
    justify-content: center;
    width: 100%; }
    body .main .box .boxx {
      width: 90%;
      border: 0.5px solid #7c695e;
      margin: 1% 3%;
      padding: 20px 10px;
      color: white;
      font-family: Helvetica; }
      body .main .box .boxx h3 {
        text-align: center;
        font-size: 25px; }
      body .main .box .boxx p {
        letter-spacing: 2px;
        word-spacing: 5px;
        text-indent: 20px;
        font-weight: bold; }
      body .main .box .boxx .buton {
        width: 100%;
        border: 2px solid white;
        background-color: white;
        display: flex;
        justify-content: center; }
        body .main .box .boxx .buton a {
          width: 100%;
          height: 35px;
          text-decoration: none;
          color: rgba(34, 29, 0, 0.596);
          font-size: 20px;
          font-weight: bolder;
          text-align: center;
          padding-top: 8px; }
  body .product {
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
    body .product .product_img {
      display: flex;
      justify-content: center;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      height: auto; }
      body .product .product_img img {
        width: 80%; }
    body .product .product_text .text {
      color: white;
      font-family: Helvetica;
      word-spacing: 5px;
      letter-spacing: 2px;
      text-indent: 20px;
      padding: 20px;
      margin: 20px;
      font-weight: bold;
      font-size: 15px; }
    body .product .product_text .list {
      color: white;
      font-family: Helvetica;
      word-spacing: 5px;
      letter-spacing: 2px;
      text-indent: 20px;
      padding: 20px;
      margin: 20px;
      font-weight: bold;
      font-size: 15px; }
  body .about {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-family: Helvetica;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    word-spacing: 5px;
    letter-spacing: 2px;
    text-indent: 20px; }
  body .contact {
    width: 95%;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: 2% auto; }
    body .contact .map, body .contact .adress {
      width: 50%;
      margin: 10px auto;
      text-align: justify; }
    body .contact .adress {
      color: white;
      font-family: Helvetica;
      font-size: 20px;
      padding-left: 15%;
      padding-top: 3%; }
      body .contact .adress i {
        padding: 5px; }
  body footer {
    background: white;
    display: block;
    width: 100%;
    bottom: 0;
    z-index: 99; }
    body footer .foot {
      display: flex;
      justify-content: center;
      margin: 0 auto; }
      body footer .foot .link {
        width: 50%;
        display: flex;
        justify-content: center; }
        body footer .foot .link .liste_ul {
          width: 30%;
          padding: 5px; }
          body footer .foot .link .liste_ul .liste_li {
            padding: 5px;
            border-bottom: 1px solid rgba(34, 29, 0, 0.596);
            list-style-type: none;
            padding: 5px;
            display: block;
            text-align: center;
            margin-left: auto;
            margin-right: auto; }
            body footer .foot .link .liste_ul .liste_li a {
              text-decoration: none;
              color: #221d00;
              font-family: Helvetica; }
          body footer .foot .link .liste_ul .liste_li:hover {
            background-color: #221d00; }
          body footer .foot .link .liste_ul .liste_li:hover a {
            color: white; }
      body footer .foot .social {
        width: 50%;
        display: inline-block;
        justify-content: center; }
        body footer .foot .social h5 {
          width: 80%;
          color: #221d00;
          display: flex;
          margin-left: auto;
          margin-right: auto;
          justify-content: center;
          font-family: Helvetica;
          font-size: 15px;
          font-weight: lighter; }
        body footer .foot .social ul {
          width: 60%;
          display: flex;
          justify-content: space-around;
          margin-left: auto;
          margin-right: auto; }
          body footer .foot .social ul li {
            list-style-type: none;
            padding: 2px;
            border-bottom: 1px solid #221d00;
            width: 20%; }
            body footer .foot .social ul li a {
              color: #221d00;
              display: flex;
              justify-content: center; }
          body footer .foot .social ul li:hover {
            background-color: #221d00; }
            body footer .foot .social ul li:hover i {
              color: white; }

@media only screen and (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #f5cc71;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    background-repeat: repeat-y;
    background-size: auto;
    min-width: 335px; }
    body header {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      margin: 0; }
      body header nav {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center; }
        body header nav .menu {
          height: auto;
          display: block;
          width: 100%;
          justify-content: center; }
          body header nav .menu .logo1 {
            margin-left: auto;
            margin-right: auto;
            height: auto;
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center; }
            body header nav .menu .logo1 a {
              text-decoration: none;
              text-align: center;
              padding-bottom: 10px;
              margin-top: auto;
              margin-bottom: auto;
              width: 30%;
              height: 50%; }
            body header nav .menu .logo1 span {
              font-family: Helvetica;
              transition: ease 0.5s;
              width: 90%;
              height: 90%;
              font-size: xx-large;
              color: #ffffff; }
          body header nav .menu .logo1:hover span {
            width: 100%;
            height: 100%;
            font-weight: bolder; }
          body header nav .menu .liste_ul {
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0; }
            body header nav .menu .liste_ul .liste_li {
              list-style-type: none;
              display: inline-flex;
              width: 20%;
              margin: 0 2.5%;
              justify-content: space-around; }
              body header nav .menu .liste_ul .liste_li a {
                text-decoration: none;
                color: #ffffff;
                width: 100%;
                height: auto;
                display: flex;
                font-family: Helvetica;
                word-spacing: 10px;
                letter-spacing: 3px;
                font-size: 16px;
                padding: 5px;
                margin-top: auto;
                margin-bottom: auto;
                justify-content: center;
                font-weight: bold; }
              body header nav .menu .liste_ul .liste_li li:hover {
                animation-name: ahover;
                animation-fill-mode: both;
                animation-duration: 0.2s; }
  @keyframes ahover {
    0% {
      width: 0%;
      border-bottom: 2px solid white; }
    25% {
      width: 25%;
      border-bottom: 2px solid white; }
    50% {
      width: 50%;
      border-bottom: 2px solid white; }
    75% {
      width: 75%;
      border-bottom: 2px solid white; }
    100% {
      width: 100%;
      border-bottom: 2px solid white; } }
    body .box {
      display: block !important;
      margin: 0;
      padding: 0;
      width: 100%; }
      body .box .boxx {
        display: block;
        width: 100%;
        margin: 0; }
    body .about {
      width: 95%; }
    body .product {
      width: 100%; }
      body .product .product_image {
        width: 100%; }
        body .product .product_image img {
          width: 100%; }
      body .product .product_text {
        width: 100%;
        padding: 5px; }
        body .product .product_text .text {
          margin: 0;
          padding: 5;
          text-align: center; }
    body .contact {
      width: 100%;
      height: 500px;
      display: block;
      justify-content: center; }
      body .contact .map, body .contact .adress {
        width: 80%;
        height: 60%;
        margin: 5px auto;
        text-align: justify; }
      body .contact .adress {
        height: 25% !important;
        color: white;
        font-family: Helvetica;
        font-size: 13px; }
        body .contact .adress i {
          padding: 5px; }
    body footer {
      background: white;
      display: block;
      width: 100%;
      bottom: 0;
      z-index: 99; }
      body footer .foot {
        display: block;
        justify-content: center;
        margin: 0 auto; }
        body footer .foot .link {
          width: 100%;
          display: flex;
          justify-content: center; }
          body footer .foot .link .liste_ul {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 5px; }
            body footer .foot .link .liste_ul .liste_li {
              padding: 5px;
              width: 10%;
              border-bottom: 1px solid rgba(34, 29, 0, 0.596);
              list-style-type: none;
              display: flex;
              justify-content: center;
              text-align: center;
              margin-left: auto;
              margin-right: auto; }
              body footer .foot .link .liste_ul .liste_li a {
                text-decoration: none;
                color: #221d00;
                font-family: Helvetica; }
            body footer .foot .link .liste_ul .liste_li:hover {
              background-color: #221d00; }
            body footer .foot .link .liste_ul .liste_li:hover a {
              color: white; }
        body footer .foot .social {
          width: 100%;
          display: inline-block;
          justify-content: center; }
          body footer .foot .social h5 {
            width: 80%;
            color: #221d00;
            display: flex;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
            font-family: Helvetica;
            font-size: 15px;
            font-weight: lighter; }
          body footer .foot .social ul {
            width: 60%;
            display: flex;
            justify-content: space-around;
            margin-left: auto;
            margin-right: auto;
            padding: 0; }
            body footer .foot .social ul li {
              list-style-type: none;
              padding: 2px;
              width: 20%;
              display: flex;
              justify-content: center;
              margin-right: auto;
              margin-left: auto; }
              body footer .foot .social ul li a {
                color: #221d00;
                display: flex;
                justify-content: space-around; }
            body footer .foot .social ul li:hover {
              background-color: #221d00; }
              body footer .foot .social ul li:hover i {
                color: white; } }

/*# sourceMappingURL=style.css.map */
