<!doctype html>
<html lang="tr-TR">
<head>
<meta charset="utf-8">
<meta name="description" content="Sektör">
<meta name="keywords" content="HTML, CSS, JavaScript">
<meta name="author" content="se-sowtware">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href="/static/fontawesome-free-5.14.0-web/css/all.css">
<title>Nedir ?</title>
</head>
<body>
    <header>
        <nav>
            <div class="menu">
                <div class="logo1"><a href="/"><span class="logo">LOGO</span></a></div>
                <ul class="liste_ul">
                    <li class="liste_li"><a href="/">Marka</a></li>
                    <li class="liste_li"><a href="/Nedir?">nedir?</a></li>
                    <li class="liste_li"><a href="/Kimiz?">Kimiz?</a></li>
                    <li class="liste_li"><a href="/Contact_Us">İletişim</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="product">
        <div class="product_img">
            <img src="/img/1.jpg" alt="">
        </div>
        <div class="product_text">
            <p class="text">
                Nereden Gelir?
Yaygın inancın tersine, Lorem Ipsum rastgele sözcüklerden oluşmaz. Kökleri M.Ö. 45 tarihinden bu yana klasik Latin edebiyatına kadar uzanan 2000 yıllık bir geçmişi vardır. Virginia'daki Hampden-Sydney College'dan Latince profesörü Richard McClintock, bir Lorem Ipsum pasajında geçen ve anlaşılması en güç sözcüklerden biri olan 'consectetur' sözcüğünün klasik edebiyattaki örneklerini incelediğinde kesin bir kaynağa ulaşmıştır. Lorm Ipsum, Çiçero tarafından M.Ö. 45 tarihinde kaleme alınan "de Finibus Bonorum et Malorum" (İyi ve Kötünün Uç Sınırları) eserinin 1.10.32 ve 1.10.33 sayılı bölümlerinden gelmektedir. Bu kitap, ahlak kuramı üzerine bir tezdir ve Rönesans döneminde çok popüler olmuştur. Lorem Ipsum pasajının ilk satırı olan "Lorem ipsum dolor sit amet" 1.10.32 sayılı bölümdeki bir satırdan gelmektedir.

1500'lerden beri kullanılmakta olan standard Lorem Ipsum metinleri ilgilenenler için yeniden üretilmiştir. Çiçero tarafından yazılan 1.10.32 ve 1.10.33 bölümleri de 1914 H. Rackham çevirisinden alınan İngilizce sürümleri eşliğinde özgün biçiminden yeniden üretilmiştir.
Nereden Gelir?
Yaygın inancın tersine, Lorem Ipsum rastgele sözcüklerden oluşmaz. Kökleri M.Ö. 45 tarihinden bu yana klasik Latin edebiyatına kadar uzanan 2000 yıllık bir geçmişi vardır. Virginia'daki Hampden-Sydney College'dan Latince profesörü Richard McClintock, bir Lorem Ipsum pasajında geçen ve anlaşılması en güç sözcüklerden biri olan 'consectetur' sözcüğünün klasik edebiyattaki örneklerini incelediğinde kesin bir kaynağa ulaşmıştır. Lorm Ipsum, Çiçero tarafından M.Ö. 45 tarihinde kaleme alınan "de Finibus Bonorum et Malorum" (İyi ve Kötünün Uç Sınırları) eserinin 1.10.32 ve 1.10.33 sayılı bölümlerinden gelmektedir. Bu kitap, ahlak kuramı üzerine bir tezdir ve Rönesans döneminde çok popüler olmuştur. Lorem Ipsum pasajının ilk satırı olan "Lorem ipsum dolor sit amet" 1.10.32 sayılı bölümdeki bir satırdan gelmektedir.

1500'lerden beri kullanılmakta olan standard Lorem Ipsum metinleri ilgilenenler için yeniden üretilmiştir. Çiçero tarafından yazılan 1.10.32 ve 1.10.33 bölümleri de 1914 H. Rackham çevirisinden alınan İngilizce sürümleri eşliğinde özgün biçiminden yeniden üretilmiştir.
            
            </p>
            <p class="list">
                
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Fusce id arcu sit amet orci convallis tincidunt.
                Sed vel arcu sed purus laoreet finibus.
                Maecenas in risus sit amet lacus aliquet congue.
                Aenean venenatis diam a lorem congue egestas.
                Mauris at urna at nunc faucibus bibendum a vel ligula.
                Curabitur quis enim luctus, ornare erat ac, sodales ex.
                Nam a dolor porta, pharetra erat a, dictum dui.
                Etiam quis velit ut diam semper molestie.
                Curabitur interdum nunc in mattis tristique.
                Vivamus consectetur nulla ac lorem vehicula ultricies vel sed dolor.
                Morbi maximus enim at aliquam finibus.
                Nunc cursus risus quis dolor sagittis, id dignissim ante scelerisque.
                Ut efficitur elit eget fermentum ultricies.
                Pellentesque viverra odio commodo, bibendum odio sollicitudin, auctor eros.
                Sed condimentum lectus at euismod lacinia.
                Fusce et eros hendrerit, gravida nisi at, mattis quam.
                Etiam placerat dolor a diam fringilla interdum.
                Sed molestie mauris vitae ex semper, at luctus felis interdum.
                Praesent tempus dolor sed mi dapibus, at porttitor elit porta.
                Fusce molestie justo rutrum, imperdiet arcu vel, lobortis metus.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Fusce id arcu sit amet orci convallis tincidunt.
                Sed vel arcu sed purus laoreet finibus.
                Maecenas in risus sit amet lacus aliquet congue.
                Aenean venenatis diam a lorem congue egestas.
                Mauris at urna at nunc faucibus bibendum a vel ligula.
                Curabitur quis enim luctus, ornare erat ac, sodales ex.
                Nam a dolor porta, pharetra erat a, dictum dui.
                Etiam quis velit ut diam semper molestie.
                Curabitur interdum nunc in mattis tristique.
                Vivamus consectetur nulla ac lorem vehicula ultricies vel sed dolor.
                Morbi maximus enim at aliquam finibus.
                Nunc cursus risus quis dolor sagittis, id dignissim ante scelerisque.
                Ut efficitur elit eget fermentum ultricies.
                Pellentesque viverra odio commodo, bibendum odio sollicitudin, auctor eros.
                Sed condimentum lectus at euismod lacinia.
                Fusce et eros hendrerit, gravida nisi at, mattis quam.
                Etiam placerat dolor a diam fringilla interdum.
                Sed molestie mauris vitae ex semper, at luctus felis interdum.
                Praesent tempus dolor sed mi dapibus, at porttitor elit porta.
                Fusce molestie justo rutrum, imperdiet arcu vel, lobortis metus.
                                            
            </p>
        </div>
    </div>
    <footer>
        <div class="foot">
            <div class="link">
                <ul class="liste_ul">
                    <li class="liste_li"><a href="/">Marka</a></li>
                    <li class="liste_li"><a href="/Nedir?">nedir?</a></li>
                    <li class="liste_li"><a href="/Kimiz?">Kimiz?</a></li>
                    <li class="liste_li"><a href="/Contact_Us">İletişim</a></li>
                </ul>
            </div>
            <div class="social">
                <h5>Sosyal Hesaplar</h5>
                <ul>
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-whatsapp"></i></a></li>
                </ul>
            </div> 
        </div>
    </footer>
</body>
</html>